/*
 * pwix:accounts-zimbra/src/client/components/ZimbraLoginButton/ZimbraLoginButton.less
 */

a img.ac-zimbra-img {
    height: 1em;
    // to be aligned with AccountsUI dropdown items
    //  which have a 0.5em margin right, but are a bit larger because they are svg.fa-fw
    margin-right: 0.75em;
}

.ZimbraLoginButton button img {
    height: 1em;
}
